<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css") <!-- Render my css -->
</head>
<body>
    <!-- Render index.cshtml -->
    <div class="container">
        @RenderBody()
    </div>

    <!-- Render any included scripts or libraries-->
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <script>
        $("#get_list_btn").click(function () {
            alert("works");
        });
    </script>
</body>
</html>
